.c-grid-fluid, .c-grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.roadmap__bg img, .team__bg img, .about__bg img, .story__bg img, .home__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.roadmap__circle p,
.roadmap__circle span, .home__wrapper h1,
.home__wrapper h2, .header__nav a, .c-btn, .c-title {
  font-family: "Cinzel", serif;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden !important;
  width: 100%;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
body > .main--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-grid {
  max-width: 1185px;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .c-grid {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.c-grid-fluid {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .c-grid-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.copyright {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

.logo.logo--header {
  width: 100%;
  max-width: 264px;
}
.logo.logo--footer {
  width: 100%;
  max-width: 323px;
  padding-bottom: 30px;
}
.logo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__btn img {
  display: block;
  max-width: 100%;
  height: auto;
}

.c-title {
  font-size: 39px;
  color: #e6c683;
}

.c-desc {
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 1.6;
  color: #ffffff;
}

.c-btn {
  outline: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 69px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #e6c784;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  color: #483726;
  font-weight: bold;
}
.c-btn:after {
  content: "";
  z-index: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/btn-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.c-btn:hover:after {
  opacity: 0.5;
  background-blend-mode: unset;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.c-btn--small {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}
.c-btn--radius {
  border-radius: 5px;
}
.c-btn span {
  z-index: 2;
  position: relative;
}
.c-btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-btn__wrapper--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-line {
  width: 100%;
  max-width: 260px;
  height: 2px;
  margin: 10px auto 30px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, #e6c784), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #e6c784 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #e6c784 50%, rgba(255, 255, 255, 0) 100%);
}

.header {
  z-index: 990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}
.header__wrapper-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav a {
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 32px;
  font-size: 17px;
  font-weight: 500;
  color: #adaca9;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header__nav a.is-active, .header__nav a:hover {
  color: #e6c784;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 44px;
  border: 1px solid #e6c784;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
  color: #e6c784;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.header__btn:hover {
  background-color: #e6c784;
  color: #03131e;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #12100e;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 35px;
}
.footer__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 4px;
  margin-right: 4px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.footer__social a:hover {
  opacity: 0.55;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.footer__social a img {
  display: block;
  max-width: 100%;
  height: auto;
}

.home {
  position: relative;
}
.home__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03131e;
}
.home__bg img:nth-child(1) {
  mix-blend-mode: lighten;
}
.home__bg img:nth-child(2) {
  mix-blend-mode: hard-light;
}
.home__bg img:nth-child(4) {
  mix-blend-mode: luminosity;
}
.home__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 1091px;
}
.home__wrapper > div {
  width: 100%;
  max-width: 482px;
}
.home__wrapper h1,
.home__wrapper h2 {
  font-weight: bold;
  line-height: 1.2;
}
.home__wrapper h1 {
  font-size: 66px;
  color: #e6c784;
}
.home__wrapper h2 {
  padding-bottom: 30px;
  font-size: 45px;
  color: #adaca9;
}
.home__btn {
  padding-bottom: 30px;
}
.home__btn .c-btn {
  width: 100%;
}
.home__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}
.home__toggle > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}
.home__toggle button {
  outline: none;
  position: relative;
  width: 59px;
  height: 50px;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e6c784;
  background-color: #364343;
  font-size: 20px;
  font-weight: bold;
  color: #e6c784;
  line-height: 1;
}
.home__toggle label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 105px;
  margin-left: 7px;
  margin-right: 7px;
}
.home__toggle label input {
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #e6c784;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #03131e;
  text-align: center;
  font-size: 20px;
  color: #e6c784;
}
.home__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__info > div:nth-of-type(1) {
  margin-right: 20px;
}
.home__info p {
  font-size: 24px;
  font-weight: bold;
  color: #e6c683;
}
.home__info p i {
  font-style: italic;
}
.home__info p strong {
  font-weight: 900;
}
.home__info span {
  font-size: 17px;
  font-weight: 300;
  color: #adaca9;
}
.home__info span i {
  margin-left: 5px;
  font-style: italic;
}
.home__info img {
  display: block;
  max-width: 20px;
  height: auto;
  margin-right: 10px;
}

.perks {
  background-image: url("../img/img-perks-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.perks__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.perks__wrapper-left, .perks__wrapper-right {
  width: 50%;
}
.perks__wrapper-left img {
  display: block;
  max-width: 100%;
  height: auto;
}
.perks__wrapper-right {
  padding-left: 30px;
}
.perks__wrapper-right > div {
  padding-top: 40px;
  padding-bottom: 40px;
}
.perks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.perks__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.perks__list li:not(:last-of-type) {
  padding-bottom: 10px;
}
.perks__list li img {
  display: block;
  max-width: 100%;
  min-width: 19px;
  height: auto;
}
.perks__list li span {
  padding-left: 20px;
  font-size: 17px;
  color: #e6c683;
}
.perks__list li span strong {
  font-weight: bold;
}

.story {
  z-index: 5;
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #364343;
}
.story__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
}
.story__wrapper {
  z-index: 2;
  position: relative;
  text-align: center;
}

.about {
  z-index: 1;
  position: relative;
  padding-top: 180px;
  padding-bottom: 90px;
  background-color: #364343;
}
.about__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 45px;
  text-align: center;
}
.about__wrapper-left, .about__wrapper-right {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.me {
  position: relative;
  padding-top: 175px;
  padding-bottom: 175px;
  background-color: #483726;
}
.me__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.me__bg > div {
  width: 50%;
}
.me__bg > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.me__bg > div:nth-of-type(1) img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.me__bg > div:nth-of-type(2) {
  overflow: hidden;
  position: relative;
}
.me__bg > div:nth-of-type(2) > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.me__bg > div:nth-of-type(2) img {
  -webkit-transform: translateY(-140px);
      -ms-transform: translateY(-140px);
          transform: translateY(-140px);
}
.me__wrapper {
  z-index: 2;
  position: relative;
}
.me__wrapper > div {
  width: 50%;
}
.me__desc {
  width: 100%;
  max-width: 480px;
}

.team {
  z-index: 5;
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #364343;
}
.team__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
}
.team__wrapper {
  z-index: 2;
  position: relative;
  text-align: center;
}
.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__box-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  padding-top: 30px;
}
.team__box-head img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.team__box-body {
  padding-top: 20px;
}
.team__box-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: disc;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.team__box-body ul li {
  list-style: disc;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}
.team__box-name {
  font-size: 21px;
  color: #e6c784;
  font-weight: 800;
}
.team__box-desc {
  font-size: 16px;
  color: #adaca9;
  font-style: italic;
}

.roadmap {
  z-index: 1;
  position: relative;
  padding-top: 180px;
  padding-bottom: 90px;
  background-color: #253030;
}
.roadmap__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.roadmap__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.roadmap__wrapper-left, .roadmap__wrapper-right {
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 390px;
}
.roadmap__wrapper-middle {
  z-index: 1;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}
.roadmap__box {
  padding: 40px 30px;
  border: 1px solid #e6c784;
  background-color: #364343;
}
.roadmap__box + .roadmap__box {
  margin-top: 30px;
}
.roadmap__box > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.roadmap__box > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.roadmap__box > ul > li:not(:last-of-type) {
  padding-bottom: 15px;
}
.roadmap__box > ul > li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 56px;
  list-style-type: disc;
}
.roadmap__box > ul > li ul li {
  list-style-type: disc;
  font-size: 16px;
  color: #ffffff;
}
.roadmap__box > ul > li ul li:not(:last-of-type) {
  padding-bottom: 5px;
}
.roadmap__box > ul > li img {
  display: block;
  max-width: 100%;
  min-width: 19px;
  height: 19px;
  margin-top: 2px;
}
.roadmap__box > ul > li span {
  padding-left: 20px;
  font-size: 16px;
  color: #ffffff;
}
.roadmap__circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 164px;
  height: 164px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-image: url("../img/img-roadmap-circle@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.roadmap__circle-1:after, .roadmap__circle-2:after, .roadmap__circle-3:after, .roadmap__circle-4:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
  width: 150px;
  background-color: #e6c784;
}
.roadmap__circle-1:after, .roadmap__circle-3:after {
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.roadmap__circle-2:after, .roadmap__circle-4:after {
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.roadmap__circle + .roadmap__circle {
  margin-top: 120px;
}
.roadmap__circle p,
.roadmap__circle span {
  color: #010101;
  font-weight: bold;
}
.roadmap__circle p {
  font-size: 51px;
  line-height: 1;
}
.roadmap__circle span {
  font-size: 30px;
  line-height: 1;
}