// SECTION :: START

section#about.about

  .about__bg
    img(src="img/img-about-bg.png" srcset="img/img-about-bg@2x.png 2x" alt="")

  .c-grid
    .about__wrapper
      .about__wrapper-left
        p.about__desc.c-desc For centuries, the Cainites wandered in the recesses of the crypts across Egypt. They prepared for the worst, but for ages they seemed to prepare in vain; some getting bored, some losing faith in Anubis, whom they hadn’t seen since receiving his mark. The mighty God seemed to have forsaken his pack to tend to the Pharaohs in the Meta-Underworld until the coming of the first grave robbers. When the would-be robbers entered, so too did the majestic silver light of the moon; the first message from Anubis. The scars of the Cainites touched by the moon glowed and triggered their first metamorphosis into magnificent anamorphs with superhuman bodies and wolf/canine head; the first Lycans. The grave robbers were ripped to shreds, some never to be seen again, others spreading rumors of giant man-wolves in the tombs throughout the underworld of Egypt.
        p.about__desc.c-desc The grave robbers came and came and each time were decimated by the Lycans until they came no more and for centuries, the Cainites waited in the darkness again. The malcontent began to take root. Had Anubis again forsaken them? Some believed so and they became ushabtis, the unbelievers. The ushabtis left the crypts in search of another god. Those Cainites that remained faithful, stayed, and awaited their God’s return.
        p.about__desc.c-desc Unbeknownst to them, Anubis was watching over them and had also been watching over the physical world. The humans were waging a war on the environment.
      .about__wrapper-right
        p.about__desc.c-desc Their pollution and deforestation were causing a mass extinction of their brethren; wolves, foxes and other beasts that roamed amongst the living. The time was nigh for the second coming of the Lycan.
        p.about__desc.c-desc The second message from Anubis came, this time without the help of the moon. This time all the scars of all the loyal Cainites glowed across the crypts of Egypt and again the message was clear. All Cainite believers were called by Anubis to unite in Cynopolis, the seat of his throne in the Meta-Underworld. As it turned out, each of the Pharoah’s crypts were portals between the physical and Meta-Underworld allowing the loyal Cainites to transport between them freely.
        p.about__desc.c-desc The message: “Half of my loyal Cainites will become the gatekeepers, staying in the tombs to guard the portals between worlds. The other half will be sent out unto the physical world to build a Meta-Lycans Army that will infiltrate human governments, create a new world currency, and become the pillar of modern society.”
        p.about__desc.c-desc It was no longer enough to protect the Pharaoh’s tombs. Protecting the world was the new order. Eradicating the modern-day tomb robber, the new mission. A war would be waged to save the environment ravished at the hands of the human. The souls of the fallen would be sent to Anubis for judgment as foretold in the Book of the Dead.

    .about__btn.c-btn__wrapper.c-btn__wrapper--center
      a.c-btn.c-btn--small(href="#")
        span Join the Meta-Lycan Army!

// SECTION :: END
