// SECTION :: START

section#home.home

  .home__bg
    img(src="img/img-home-bg-layout-1.png" alt="")
    img(src="img/img-home-bg-layout-2.png" alt="")
    img(src="img/img-home-bg-layout-3.png" alt="")
    img(src="img/img-home-bg-layout-4.png" alt="")
    img(src="img/img-home-bg-layout-5.png" alt="")
    img(src="img/img-home-bg-layout-6.png" alt="")
    img(src="img/img-home-bg-layout-7.png" alt="")
    img(src="img/img-home-bg-layout-8.png" alt="")
    img(src="img/img-home-bg-layout-9.png" alt="")

  .c-grid
    .home__wrapper
      div

        h1 Meta-Lycans:
        h2!= "Gatekeepers of the <br>Meta-Underworld. <br>Defenders of <br>the Physical!"

        .home__btn.c-btn__wrapper
          a.c-btn(href="#")
            span JOIN THE META-LYCAN ARMY!

        .home__toggle
          div
            .c-btn__wrapper
              a.c-btn.c-btn--small.c-btn--radius(href="#")
                span Mint Now
          div
            button(type='button') -
            label
              input(type='text' name='' value='50')
            button(type='button') +

        .home__info
          div
            p
              i 4000/11000
          div
            img(src="img/logo-ethereum.png" srcset="img/logo-ethereum@2x.png 2x" alt="")
            p
              strong 0.2
            span
              i Per NFT

// SECTION :: END
