// SECTION :: START

section#me.me

  .me__bg
    div
      img(src="img/img-me-cover.png" srcset="img/img-me-cover@2x.png 2x" alt="")
    div
      div
        img(src="img/img-me-visual.png" srcset="img/img-me-visual@2x.png 2x" alt="")

  .c-grid
    .me__wrapper
      div
        h2.me__title.c-title About:
        p.me__desc.c-desc Meta-Lycan is a collection of 11,100 uniquely designed 3D NFTs developed on the Ethereum blockchain and living in Meta-Underworld. Each of the beautifully minted Meta-Lycans will have traits and features that showcase their savage intellect, style, and rarity.

        .me__btn.c-btn__wrapper
          a.c-btn.c-btn--small(href="#")
            span Are you ready to join the Meta-Lycan Army?

// SECTION :: END
