// SECTION :: START

section#perks.perks
  .c-grid
    .perks__wrapper
      .perks__wrapper-left

        img(src="img/img-perks.png" srcset="img/img-perks@2x.png 2x" alt="")

      .perks__wrapper-right
        div

          h2.perks__title.c-title Meta-Lycan NFT Perks
          p.perks__desc.c-desc Access to an Elite MASTERMIND community of entrepreneurs

          ul.perks__list
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span
                strong Tesla Cyber Truck giveaway
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span $120k in prizes and giveaways
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span $100k in charitable donations
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span $40k in seed funding
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Creative input from the community

// SECTION :: END
