// SECTION :: START

section#roadmap.roadmap

  .roadmap__bg
    img(src="img/img-roadmap-bg.png" alt="")

  .c-grid
    .roadmap__wrapper
      .roadmap__wrapper-left

        .roadmap__box

          ul
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Additional content in the Meta-Lycans story released  Introduct
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Introduction of the Meta Vamps (Origin Story) to the Meta-Underworld.
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Donate a combined total of $25,000 to one or more of the below organizations, institutions and charities that have a mission to support wolf survival and/or protection of the environment.
            li
              ul
                li Wolf Haven International
                li International Wolf Center
                li W.O.L.F. Sanctuary
                li Wolf Conservation Center
                li Yellowstone Forever
                li Defenders Of Wildlife
                li American Wolf Foundation
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Giveaways

        .roadmap__box
          ul
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Entry opens for selection of NFT holders to appear for speaking roles in our Meta-Lycans short film
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Additional content in the Meta-Lycans story released
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Introduction of the Meta Hybrids (Origin Story) to the Meta-Underworld.
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Donate a combined total of $75,000 to one or more of the below organizations, institutions and charities that have a mission to support wolf survival and protection of the environment.
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Additional Giveaways

      .roadmap__wrapper-middle

        .roadmap__circle.roadmap__circle-1
          p 25%
          span Sold
        .roadmap__circle.roadmap__circle-2
          p 50%
          span Sold
        .roadmap__circle.roadmap__circle-3
          p 75%
          span Sold
        .roadmap__circle.roadmap__circle-4
          p 100%
          span Sold

      .roadmap__wrapper-right

        .roadmap__box
          ul
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Develop script for Meta-Lycans short film
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Open whitelist for Meta Vamps NFT for Meta-Lycans NFT holders
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Develop platform for members with businesses to connect their products and services to the Meta-Underworld member network.
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Donate a combined total of $50,000 to one or more of the below organizations, institutions and charities that have a mission to support wolf survival and protection of the environment.
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Additional Giveaways

        .roadmap__box
          ul
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Entry opens for NFT holders to be selected as extras in the Meta-Lycans short film
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Additional content in the Meta-Lycans story released
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span EVENT: Virtual art exhibit of owner minted, rare Meta-Lycans NFTs
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Donate a combined total of $100,000 to one or more of the below organizations, institutions, and charities that have a mission to support wolf survival and protection of the environment.
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Seed funding from the Lycan Den Pitch your product or service live to our board and select owners and you can win up to $10,000 in seed money for your business startup. Competitions will be held up to 4 times per year. With the possibility of smaller seed investment events throughout the year.
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Meta-Lycans on screens everywhere! Help us become one of the first film projects to preview on the Meta Verse and streaming platforms.
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Open whitelist for Meta-Hybrids
            li
              img(src="img/img-perks-list.png" srcset="img/img-perks-list@2x.png 2x" alt="")
              span Giveaway: Tesla Cyber Truck*

// SECTION :: END
