// SECTION :: START

section#story.story
  .c-grid
    .story__wrapper

      h2.story__title.c-title The Origin Story:
      .c-line
      p.story__desc.c-desc During the reign of the Pharaohs, Osiris sired a new God, Anubis. Crowned the God of the Dead, he was the judge, the jury and transporter of worthy souls to the Meta-Underworld. Anubis soon amassed a following of loyal soldiers called Cainites. Each blessed with his bite, marking them with the Scar of the Lycan. Those that bore the scar would possess transformative ability, superstrength and intelligence necessary to protect the knowledge and treasures of the Pharaohs' crypts across Egypt.

      .story__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn.c-btn--small(href="#")
          span READ MORE

// SECTION :: END
