// SECTION :: START

section#team.team

  .team__bg
    img(src="img/img-story-bg.png" srcset="img/img-story-bg@2x.png 2x" alt="")

  .c-grid
    .team__wrapper

      h2.team__title.c-title(data-aos="fade-up") Team Members info
      .c-line(data-aos="fade-up" data-aos-delay="150")

      .team__box-wrapper
        .team__box(data-aos="fade-up" data-aos-delay="200")
          .team__box-head
            img(src="img/img-team-1.png" srcset="img/img-team-1@2x.png 2x" alt="")
          .team__box-body
            p.team__box-name Ed “Ronin” Jones
            ul
              li Serial Entrepreneur
              li Air Force Veteran
              li Former NCIS Special Agent
            p.team__box-desc “The creative adult is the  child who survived.”
        .team__box(data-aos="fade-up" data-aos-delay="200")
          .team__box-head
            img(src="img/img-team-2.png" srcset="img/img-team-2@2x.png 2x" alt="")
          .team__box-body
            p.team__box-name Cherlyn McIntee
            ul
              li Cybersecurity Business Consultant
              li Author
              li Army Veteran
            p.team__box-desc “Full-time Bad-Ass”
        .team__box(data-aos="fade-up" data-aos-delay="200")
          .team__box-head
            img(src="img/img-team-3.png" srcset="img/img-team-3@2x.png 2x" alt="")
          .team__box-body
            p.team__box-name Jim Hinton
            ul
              li Avid Crypto/NFT Creator and Investor
              li Security/Project Manager
              li Former NCIS Special Agent
            p.team__box-desc “The creative adult is the  child who survived.”

// SECTION :: END
