// SECTION :: START

.perks {
  background-image: url('../img/img-perks-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include adaptive(767) {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @include adaptive(767) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 50%;
      @include adaptive(767) {
        width: 100%;
      }
    }

    &-left {
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-right {
      padding-left: 30px;
      @include adaptive(767) {
        padding-left: 0;
      }

      > div {
        padding-top: 40px;
        padding-bottom: 40px;
        @include adaptive(767) {
          padding-left: 0;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;

      &:not(:last-of-type) {
        padding-bottom: 10px;
      }

      img {
        display: block;
        max-width: 100%;
        min-width: 19px;
        height: auto;
      }

      span {
        padding-left: 20px;
        font-size: 17px;
        color: #e6c683;
        @include adaptive(767) {
          font-size: 15px;
        }

        strong {
          font-weight: bold;
        }
      }
    }
  }
}

// SECTION :: END
