// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper

      .logo.logo--footer
        a.logo__btn(href="#")
          img(src="img/logo.svg" alt="")

      nav.footer__social
        a(href="#")
          img(src="img/instagram.svg" alt="")
        a(href="#")
          img(src="img/twitter.svg" alt="")
        a(href="#")
          img(src="img/discord.svg" alt="")
        a(href="#")
          img(src="img/tiktok.svg" alt="")
        a(href="#")
          img(src="img/facebook.svg" alt="")
        a(href="#")
          img(src="img/reddit.svg" alt="")

      p.copyright copyright@metalycan 2022

// FOOTER :: END
