// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper

      .logo.logo--footer(data-aos="fade-up")
        a.logo__btn(href="#")
          img(src="img/logo.svg" alt="")

      nav.footer__social(data-aos="fade-up" data-aos-offset="50" data-aos-delay="150")
        a(href="#")
          img(src="img/instagram.svg" alt="")
        a(href="#")
          img(src="img/twitter.svg" alt="")
        a(href="#")
          img(src="img/discord.svg" alt="")
        a(href="#")
          img(src="img/tiktok.svg" alt="")
        a(href="#")
          img(src="img/facebook.svg" alt="")
        a(href="#")
          img(src="img/reddit.svg" alt="")

      p.copyright(data-aos="fade-up" data-aos-offset="0" data-aos-delay="200") copyright@metalycan 2022

// FOOTER :: END
