// HEADER :: START

nav#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left

        .logo.logo--header
          a.logo__btn(href="#")
            img(src="img/logo.svg" alt="")

      .header__wrapper-right

        nav.header__nav
          a.is-active(href="#") Home
          a(href="#") About
          a(href="#") NFT Perks
          a(href="#") Origin Story
          a(href="#") Roadmap
          a(href="#") Team

        a.header__btn(href="#") Mint Now

// HEADER :: END
