// HEADER :: START

nav#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left

        .logo.logo--header
          a.logo__btn(href="#")
            img(src="img/logo.svg" alt="")

      .header__wrapper-right

        nav.header__nav
          a.is-active(href="#home" anchor-js) Home
          a(href="#me" anchor-js) About
          a(href="#perks" anchor-js) NFT Perks
          a(href="#story" anchor-js) Origin Story
          a(href="#roadmap" anchor-js) Roadmap
          a(href="#team" anchor-js) Team

        a.header__btn(href="#") Mint Now

// HEADER :: END
