// LOGOTYPE :: START

.logo {
  &.logo--header {
    width: 100%;
    max-width: 264px;
  }
  &.logo--footer {
    width: 100%;
    max-width: 323px;
    padding-bottom: 30px;
  }

  &__btn {
    display: flex;
    align-items: center;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

// LOGOTYPE :: END
